*::after {
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	color: #fff;
}

.item {
	background-color: #fff;
	color: #1c1a1a;
	font-weight: 700;
	padding: 30px 70px;
	margin-bottom: 20px;
}

.item:nth-child(2n) {
	background-color: #440f51;
	color: #fff;
}

.item,
.purple {
	position: relative;
}

.item-span {
	font-family: Arial, sans-serif;
	font-size: 18px;
}

.item:last-child {
	margin-bottom: 0;
}

.item:nth-child(odd)::after {
	content: "";
	width: 35px;
	height: 35px;
	background-image: url("../images/open-purple.svg");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 990px;
	bottom: 25px;
	
}

.purple:nth-child(even)::after {
	content: "";
	background-image: url("../images/open.svg");
	background-size: contain;
	background-repeat: no-repeat;
}